@mixin card($colour-palettes) {
  @each $state, $colour in $colour-palettes {
    &-#{$state} {
      background-color: $colour;
      color: white;
    }
  }
}

@mixin chart($colour-palettes) {
  @each $state, $colour in $colour-palettes {
    &-#{$state} {
      background-color: $colour;
      border: 1px solid $colour;
      color: $colour;
    }
  }
}
