$colour-primary: #3a86ff;
$colour-primary-light: #e8e8ec;
$colour-warning: #fb5607;
$colour-secondary: #ff006e;
$colour-tertiary: #ffbe0b;
$colour-grey: #908f8f;

$colour-palettes: (
  main: $colour-primary,
  warning: $colour-warning,
  white: $colour-tertiary,
);
